html,
body {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100%;
}

#app {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

#landing {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}
